<h1>Welcome, <%= current_user.username %></h1>

<h3>Edit Tweet</h3>

<form action='/tweets/<%= @tweet.id %>' method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  
  <label for="content">Tweet:</label>
  <input type="text" id="content" name="content" value="content">
  
  <button type="submit" value="submit">Edit Tweet</button>
</form>